*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    background-color: black;
}
h2{
    
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    font-size: 50px;
    background-image: url(assets/bgimage.jpeg);
    background-size: contain;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 3px 1px white);
    
}
.main{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    
}
 
.card1,.card2,.card3,.card4,.card5,.card6,.card7{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.front img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}
.frond{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 10px white;
    backface-visibility: hidden;
    border-radius: 10%;
    overflow: hidden;
}
.back{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  box-shadow: 0px 0px 10px white;
  text-align: center;
  backface-visibility: hidden;
  background: white;
  border-radius: 10px;
}
.back h1{
    font-style: italic;
}
.back span{
  
  font-family: 'Courier New', Courier, monospace;
}


.card1:hover,.card2:hover,
.card3:hover,.card4:hover,
.card5:hover,.card6:hover,.card7:hover,
.back{
  transform: rotatey(-180deg);
}
